.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 2rem auto;
  width: 80%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #514848;
  font-weight: bold;
}